window#waybar {
    background-color: #DDDFFF;
    color: #54487A;
    font-family: "JetBrains Mono", "Noto Sans", sans-serif;
    font-size: 14px;
    border-bottom: 1px solid #1e1e24;
}

#custom-separator {
    color: #44444c;
    padding: 0 5px;
}

#custom-logo {
    color: #7a5c99;
    padding: 0 10px;
    font-size: 16px;
}
#custom-logo:hover {
    background-color: rgba(122, 92, 153, 0.2);
}

#cpu {
    color: #54487A;
    padding: 0 10px;
    border-bottom: 3px solid #54487A;
}

#memory {
    color: #61538D;
    padding: 0 10px;
    border-bottom: 3px solid #61538D;
}

tooltip {
    background: #1e1e24;
    border: 1px solid #7a5c99;
    border-radius: 8px;
}
tooltip label {
    color: #dddaec;
    font-family: "JetBrains Mono", monospace;
    padding: 8px;
}

#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding: 0 8px;
    color: #54487A;
    background-color: transparent;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    color: #54487A;
    border-bottom: 3px solid #7a5c99;
}

#workspaces button.urgent {
    color: #54487A;
    border-bottom: 3px solid #bf616a;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(122, 92, 153, 0.1);
}
